.required {
    color: var(--cor-header-titulos);
}

.btn-voltar {
    width: 45px;
    height: 45px;
    position: absolute;
    z-index: 1;
    top: 6%;
    left: 2rem;

    & i {
        color: var(--cor-header-titulos);
        font-size: 1.8rem;
        transition: all .25s ease-out;
    }

    &:hover i {
        color: var(--cor-textos-footer-02);
        transition: all .25s ease-in;
    }
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 20px 1rem 20px;

    & #logo {
        width: auto;
        height: 6rem;
    }
}

#h-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    & .line {
        width: 25rem;
        height: 1px;
        background-color: #585858;
    }

    & .text {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        & h1 {
            color: #303030;
            font-size: 1.25rem;
            font-weight: 700;
        }
    }
}

#content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    & form {
        width: 42.5%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: .75rem;

        & .f-nome,
        .f-email,
        .f-tel,
        .f-sen,
        .f-conf {
            max-width: 50rem;
            min-width: 22rem;
        }

        & .f-data,
        .f-cpf {
            max-width: 24.6rem;
        }

        & .f-nome,
        .f-email,
        .f-data,
        .f-cpf,
        .f-tel,
        .f-sen,
        .f-conf {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: .35rem;

            & label {
                font-weight: 500;
            }

            & input[type="date"] {
                padding: .45rem .75rem;
            }

            & input,
            select {
                width: 100%;
                background: #F4F4F4;
                border: 1px solid #1F1F1F;
                color: #202020;
                padding: .5rem .75rem;
                font-size: 1rem;
                font-weight: 400;
                text-overflow: ellipsis;
                border-radius: 3px;

                &:focus {
                    outline: none;
                }
            }

            & input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px #F4F4F4 inset;
                -webkit-text-fill-color: #1F1F1F !important;
            }
        }

        & .f-btn {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: .35rem;
            margin-top: 5px;

            & .button-s {
                width: 100%;
                max-width: 50rem;
                min-width: 22rem;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                & button {
                    width: 100%;
                    height: 2.1rem;
                    background-color: var(--cor-header-titulos);
                    color: var(--cor-textos-01);
                    font-family: 'Montserrat';
                    text-transform: uppercase;
                    border-radius: 5px;
                    box-shadow: 0 5px 10px #0000002e;
                    font-weight: 600;
                    font-size: 1rem;
                    transition: background-color .25s ease-out;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background-color: #c17786;
                        transition: background-color .25s ease-in;
                    }
                }
            }
        }

        & .f-data,
        .f-cpf {
            width: 48%;
        }
    }

    & .agree {
        width: 42.5%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        gap: .75rem;

        & p,
        a {
            color: #646464;
        }

        & a {
            text-decoration: underline;
            transition: color .25s ease-out;

            &:hover {
                color: #2c2c2c;
                transition: color .25s ease-in;
            }
        }
    }

    & .s-line {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        & .line {
            width: 4rem;
            height: 1px;
            background-color: #cecece;
        }
    }

    & .haveAccount {
        width: 42.5%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        gap: .75rem;

        & p {
            color: #646464;

            & a {
                color: #131313;
                font-weight: 600;
                text-decoration: underline;
                transition: color .25s ease-out;

                &:hover {
                    color: #575757;
                    transition: color .25s ease-in;
                }
            }
        }
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}

input[type=number] {
    appearance: textfield;
}