.required {
    color: var(--cor-header-titulos);
}

.btn-voltar {
    width: 45px;
    height: 45px;
    position: absolute;
    z-index: 1;
    top: 3rem; 
    left: 1rem; 
}

.btn-voltar i {
    color: var(--cor-header-titulos);
    font-size: 1.8rem;
    transition: all .25s ease-out;
}

.btn-voltar:hover i {
    color: var(--cor-textos-footer-02);
    transition: all .25s ease-in;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 15px 1rem 15px; 
}

header #logo {
    width: auto;
    height: 6rem;
}

#h-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

#h-content .line {
    width: 25rem; 
    height: 1px;
    background-color: #585858;
}

#h-content .text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

#h-content .text h1 {
    color: #303030;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0 10px;
    text-align: center;
}

#content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

#content form {
    width: 90%; 
    max-width: 600px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .75rem;
}

#content form .f-nome,
#content form .f-email,
#content form .f-tel,
#content form .f-sen,
#content form .f-conf {
    max-width: 100%; 
    min-width: unset; 
    width: 100%; 
}

#content form .f-data,
#content form .f-cpf {
    max-width: 100%; 
    width: 100%;
}

#content form .f-nome,
#content form .f-email,
#content form .f-data,
#content form .f-cpf,
#content form .f-tel,
#content form .f-sen,
#content form .f-conf {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: .35rem;
}

#content form .f-nome label,
#content form .f-email label,
#content form .f-data label,
#content form .f-cpf label,
#content form .f-tel label,
#content form .f-sen label,
#content form .f-conf label {
    font-weight: 500;
}

#content form input[type="date"] {
    padding: .45rem .75rem;
}

#content form input,
#content form select {
    width: 100%;
    background: #F4F4F4;
    border: 1px solid #1F1F1F;
    color: #202020;
    padding: .5rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    text-overflow: ellipsis;
    border-radius: 3px;
}

#content form input:focus,
#content form select:focus {
    outline: none;
}

#content form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #F4F4F4 inset;
    -webkit-text-fill-color: #1F1F1F !important;
}

#content form .f-btn {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .35rem;
    margin-top: 5px;
}

#content form .f-btn .button-s {
    width: 100%;
    max-width: 100%; 
    min-width: unset; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content form .f-btn .button-s button {
    width: 100%;
    height: 2.1rem;
    background-color: var(--cor-header-titulos);
    color: var(--cor-textos-01);
    font-family: 'Montserrat';
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 5px 10px #0000002e;
    font-weight: 600;
    font-size: 1rem;
    transition: background-color .25s ease-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content form .f-btn .button-s button:hover {
    background-color: #c17786;
    transition: background-color .25s ease-in;
}

#content .agree {
    width: 90%; 
    max-width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: .75rem;
    text-align: center;
}

#content .agree p,
#content .agree a {
    color: #646464;
}

#content .agree a {
    text-decoration: underline;
    transition: color .25s ease-out;
}

#content .agree a:hover {
    color: #2c2c2c;
    transition: color .25s ease-in;
}

#content .s-line {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content .s-line .line {
    width: 4rem;
    height: 1px;
    background-color: #cecece;
}

#content .haveAccount {
    width: 90%; 
    max-width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: .75rem;
    text-align: center;
}

#content .haveAccount p {
    color: #646464;
}

#content .haveAccount p a {
    color: #131313;
    font-weight: 600;
    text-decoration: underline;
    transition: color .25s ease-out;
}

#content .haveAccount p a:hover {
    color: #575757;
    transition: color .25s ease-in;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}


/* MEDIA QUERIES */


@media (min-width: 600px) {
    #content form {
        width: 42.5%;
        max-width: 50rem; 
    }

    #content form .f-data,
    #content form .f-cpf {
        width: 48%;
        max-width: 24.6rem;
    }
    
    #content form .f-nome,
    #content form .f-email,
    #content form .f-tel,
    #content form .f-sen,
    #content form .f-conf {
        width: 100%;
        min-width: 22rem; 
        max-width: 50rem;
    }
    
    #content .agree,
    #content .haveAccount {
        width: 42.5%;
        max-width: 50rem;
    }
}