nav {
    background: #E8E8E8;
}

.gradeAgendamento {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #E8E8E8;
    padding: 1rem 0 0 0;
    flex-direction: column;
    align-items: center;
    gap: .05rem;

    & h2 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--cor-texto-02);
    }

    & p {
        font-size: 1.1rem;
        font-weight: 400;
        color: var(--cor-texto-02);
    }
}

span {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    cursor: default;
    color: #9e9e9e;
    background-color: #E8E8E8;
    padding-bottom: .75rem;
}

.selections {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    & .s-section {
        width: 60%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 3rem .5rem;

        & .s-exame,
        .s-unidade {
            width: 40%;
            height: auto;
            padding: 5px;

            & h2 {
                font-size: 1.15rem;
                font-weight: 700;
                text-transform: uppercase;
                color: var(--cor-texto-02);
            }

            & .selection {
                display: flex;
                flex-direction: column;

                & select {
                    width: 100%;
                    background: #F4F4F4;
                    border: 1px solid #1F1F1F;
                    box-shadow: 0 5px 10px #00000011;
                    color: #5B5B5B;
                    padding: .5rem .75rem;
                    border-radius: 2px;
                    font-size: 1rem;
                    font-weight: 400;
                    text-overflow: ellipsis;
                    cursor: pointer;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}

/* .background {
    margin: 5rem 0 0 0;
    padding: 0 0 4rem 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & .container {
        display: flex;
        flex-direction: column;
        width: 73%;
        height: auto;
        border: 1px solid #000;
        align-items: center;

        & .infoX {
            width: 97%;
            height: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            & .infoHosp {
                padding-top: 1rem;
            }

            & button {
                background-color: #fff;
                height: auto;
                width: auto;
                margin-bottom: 3.5rem;
            }
        }

        & .sectionCH {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            gap: 2rem;

            & .calendario {
                min-width: 400px;
                width: 50%;
                height: 400px;
                display: flex;
                border: 1px solid #000;
                flex-direction: row;
                flex-wrap: wrap;

                & .calMes {
                    display: flex;
                    height: 20%;
                    width: 100%;
                    background-color: var(--cor-header-titulos);
                    align-items: center;
                    justify-content: space-around;


                    & .selectMes {
                        display: flex;
                        height: auto;
                        width: auto;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--cor-header-titulos);
                        color: #fff;
                        font-size: 1.65rem;
                        font-weight: 500;
                    }

                    & .selectMes:hover {
                        transform: scale(1.1);
                    }

                    & .imgSeta {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--cor-header-titulos);
                        height: auto;
                        width: auto;

                        & img:hover {
                            transform: scale(1.25);
                        }
                    }
                }

                .calDias {
                    display: flex;
                    width: 95%;
                    height: 66%;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: start;

                    & .calDia {
                        display: flex;
                        width: 10%;
                        height: auto;
                        margin-top: .8rem;
                        font-weight: 600;
                        gap: 1rem;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        & button {
                            background-color: #fff;
                            height: auto;
                            width: 30px;
                        }

                        & button:hover {
                            background-color: #e2e2e2;
                        }
                    }
                }

                & .calText {
                    display: flex;
                    height: 14%;
                    width: 100%;
                    background-color: var(--cor-header-titulos);
                    justify-content: center;
                    align-items: center;

                    & p {
                        display: flex;
                        color: #fff;
                        font-size: 1.3rem;
                        font-weight: 600;
                        margin-top: 12px;
                    }
                }
            }

            & .horarios {
                display: flex;
                width: 400px;
                height: 200px;
                flex-wrap: wrap;
                align-items: center;


                & .horText {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & p {
                        font-weight: 600;
                    }
                }

                & .horDisp {
                    border: #535353 1px solid;
                    width: 100%;
                    height: 100%;
                    border-radius: 3px;
                    background-color: #F5F5F5;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: start;

                    & .horButtons {
                        display: flex;
                        width: 23%;
                        height: 79%;
                        flex-direction: column;
                        align-items: center;
                        gap: 1.7rem;


                        & button {
                            display: flex;
                            font-size: 1.1rem;
                            border: #000 1px solid;
                            border-radius: 4px;
                            width: 4.2rem;
                            height: 2.5rem;
                            background-color: var(--cor-header-titulos);
                            justify-content: center;
                            align-items: center;
                            color: #fff;

                        }

                        & button:hover {
                            background-color: #199960;

                        }
                    }
                }
            }

        }

        .backgroundTributos {
            width: 100%;
            height: auto;
            display: flex;
            align-items: flex-start;
            justify-content: start;
            margin-top: 2rem;
            margin-bottom: 1rem;

            & .containerTributos {
                display: flex;
                margin-top: 3rem;
                width: 100%;
                height: auto;
                flex-direction: row;
                justify-content: space-between;
                align-items: end;

                & .tributos {
                    display: flex;
                    width: 75%;
                    height: auto;
                    flex-direction: column;
                    gap: 2rem;

                    & .tipoAgendamento {
                        max-width: 28rem;
                        width: 100%;
                        height: auto;

                        & p {
                            font-weight: 700;
                        }

                        & select {
                            background-color: #DEDEDE;
                            border: 1px solid #4BC997;
                            border-radius: 1px;
                            padding: .45rem .75rem;
                            width: 100%;
                            height: auto;
                            font-weight: 300;
                            color: #676767;
                        }
                    }
                }

                & .descricao {
                    width: 100%;
                    height: auto;

                    & textarea {
                        background-color: #DEDEDE;
                        border: 1px solid #4BC997;
                        border-radius: 1px;
                        width: 95%;
                        font-weight: 300;
                        color: #676767;
                        outline: none;
                        min-height: 16rem;
                        max-height: 16rem;
                    }

                    & p {
                        font-weight: 700;
                    }
                }

            }

            & .buttons {
                width: 30%;
                height: auto;
                gap: 1rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap-reverse;

                & .btn:nth-child(1) {
                    background-color: #5c5c5c;

                    &:hover {
                        background-color: #ac1515;
                    }
                }

                & .btn {
                    padding: .25rem 1.35rem;
                    border-radius: 3px;
                    background-color: #4BC997;
                    color: #fff;
                    font-weight: 700;
                    transition: background-color .25s ease-out;

                    &:hover {
                        background-color: #6bd3a9;
                        transition: background-color .25s ease-in;
                    }
                }

                & .btn-agendar {
                    padding: .35rem 1.35rem;
                    border-radius: 3px;
                    background-color: #4BC997;
                    color: #fff;
                    font-weight: 700;
                    transition: background-color .25s ease-out;

                    &:hover {
                        background-color: #6bd3a9;
                        transition: background-color .25s ease-in;
                    }
                }

                & .btn-cance {
                    padding: .35rem 1.35rem;
                    border-radius: 3px;
                    background-color: #5c5c5c;
                    color: #fff;
                    font-weight: 700;
                    transition: background-color .25s ease-out;

                    &:hover {
                        background-color: #ac1515;
                        transition: background-color .25s ease-in;
                    }
                }
            }
        }
    }
} */