main {
    width: 100%;
    height: auto;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & .c-content {
        width: 1300px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        & .fale-conosco {
            width: 600px;
            height: 30rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            border-radius: 10px 0 10px 0;
            box-shadow: 0 5px 10px #0000002e;
            background: #E8E8E8;

            & h1 {
                font-size: 2.75rem;
                font-weight: 700;
                color: var(--cor-header-titulos);
            }

            & p {
                width: 85%;
                font-size: 1.35rem;
                color: var(--cor-texto-02);
                text-align: center;
                font-weight: 400;
            }

            .input-container {
                width: 80%;
                height: auto;
                position: relative;

                & i {
                    position: absolute;
                    left: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: var(--cor-header-titulos);
                    text-shadow: 0 5px 10px #00000015;
                    font-size: 1.7rem;
                }

                & .line {
                    width: 1px;
                    height: 1.5rem;
                    position: absolute;
                    left: 63px;
                    top: 33%;
                    background-color: #b3b3b3;
                }

                & input {
                    width: 100%;
                    background: #D5D5D5;
                    border: 1px solid #000;
                    color: #646464;
                    padding: 18px 25px 18px 75px;
                    border-radius: 5px;
                    font-size: 1.35rem;
                    font-weight: 400;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        & .form {
            width: 600px;
            margin-top: 2rem;

            & div {
                margin-bottom: 20px;
            }

            & input,
            textarea {
                width: 100%;
                padding: 12px;
                border: 1px solid var(--cor-header-titulos);
                font-size: 1rem;
                background-color: #DEDEDE;
                transition: border-color 0.3s ease;
            }

            & input:focus,
            textarea:focus {
                border-color: #000000;
                outline: none;

            }

            & input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px #DEDEDE inset;
                -webkit-text-fill-color: #5a5a5a !important;
            }

            & textarea {
                resize: none;
                min-height: 220px;
            }

            & .button {
                text-align: center;

                & button {
                    background-color: var(--cor-header-titulos);
                    color: var(--cor-textos-01);
                    box-shadow: 0 5px 10px #0000002e;
                    border: none;
                    padding: 9px 3rem;
                    border-radius: 3rem;
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    cursor: pointer;
                    transition: background-color 0.3s ease-out;

                    &:hover {
                        background-color: #c17786;
                        transition: all .3s ease-in;
                    }
                }
            }
        }
    }
}