#btn-offcanva {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    left: 15px;

    & i {
        font-size: 17pt;
    }
}

.offcanvas {
    background-color: #101010;
}

& .offcanva-menu {
    color: var(--cor-textos-01);
    border-radius: 0 45px 0 0;

    & .profile {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        & .a-profile {
            width: 80%;
            height: auto;
            padding: 1.5rem 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            border-bottom: 1px solid #4D4D4D;

            & .a-photo {
                width: 140px;
                height: 140px;
                background-color: #fff;
                border-radius: 50%;
            }

            & h3 {
                font-size: 1.25rem;
                font-weight: 600;
            }
        }
    }

    & .a-nav {
        width: 100%;
        height: auto;
        margin-top: 10px;
        display: flex;
        justify-content: center;

        & ul {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            padding: 0;
            align-items: center;
            gap: 2.5px;

            & li {
                width: 100%;
                height: auto;

                & a {
                    display: block;
                    width: 100%;
                    padding: 10px 2.5rem;
                    height: auto;
                    font-size: 1.15rem;
                    color: #D4D4D4;
                    transition: all .25s ease-out;

                    &:hover {
                        color: #fff;
                        background-color: #ec91a3;
                        transition: all .25s ease-in;
                    }

                    & i {
                        color: #D4D4D4;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

body {
    width: 100%;
    height: 100%;
    background: var(--cor-fundo-01);

    & main {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;

        & .a-header {
            width: 100%;
            height: auto;
            padding: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            background: var(--cor-fundo-03);

            & .h-admin {
                width: 170px;
                height: auto;
                color: var(--cor-textos-01);
                position: absolute;
                z-index: 1;
                top: 10px;
                right: 15px;
                display: flex;
                align-items: center;
                justify-content: space-around;

                & .circle {
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    background-color: var(--cor-textos-01);
                }

                & p {
                    margin: 0;
                }
            }

            & .logo {
                width: 130px;
            }
        }
    }

    & .a-infos {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--cor-fundo-03);

        & .a-container {
            width: 70%;
            height: auto;
            display: flex;
            justify-content: center;
            margin: 2rem 0 2rem 0;
            gap: 20px;

            & .accesses {
                width: 450px;
                height: auto;
                padding: 20px 0 20px 0;
                position: relative;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                background-color: #ec91a3;
                border: 1px solid var(--cor-textos-01);
                color: var(--cor-textos-01);
                border-radius: 5px;
                box-shadow: 0 5px 10px #0000002e;

                & .duo {
                    width: 70%;
                    min-width: 200px;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 20px 0 0 20px;
                    gap: 0.5rem;

                    & img {
                        width: 2.2rem;
                        height: auto;
                    }

                    & p {
                        font-size: 17.5px;
                        font-weight: 600;
                    }
                }

                & .number {
                    position: absolute;
                    z-index: 2;
                    bottom: 5px;
                    right: 1.5rem;
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: end;
                    align-items: end;
                    font-size: 35pt;
                    font-weight: 600;
                    text-shadow: 0 0 10px #ffffff73;
                }
            }
        }
    }

    & .tabela1, .tabela2, .tabela3 {
        padding: 15px 0;

        & h2 {
            font-size: 1.35rem;
            text-transform: uppercase;
            font-weight: 600;
            color: #101010;
        }
    }

    & .tabela3 {
        padding-top: 2rem !important;
        background-color: var(--cor-fundo-02);
    }

}