        body {
            width: 100%;
            height: 100%;
            background: var(--cor-fundo-03);

            & main {
                width: 100%;
                height: 100vh;
                display: flex;
                flex-direction: column;

                & .a-header {
                    width: 100%;
                    height: auto;
                    padding: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    background-color: #4BC997;

                    & .h-admin {
                        width: 170px;
                        height: auto;
                        color: var(--cor-textos-01);
                        position: absolute;
                        z-index: 1;
                        top: 10px;
                        right: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                        & .circle {
                            width: 40px;
                            height: 40px;
                            border-radius: 100%;
                            background-color: var(--cor-textos-01);
                        }

                        & p {
                            margin: 0;
                        }
                    }

                    & .logo {
                        width: 130px;
                    }
                }

                & .offcanva {
                    position: fixed;
                    width: 22%;
                    height: 90%;
                    z-index: 1;
                    bottom: 0;
                    background-color: var(--cor-textos-footer-01);
                    color: var(--cor-textos-01);
                    border-radius: 0 45px 0 0;

                    & .profile {
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        & .a-profile {
                            width: 80%;
                            height: auto;
                            padding: 1.5rem 5px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 1rem;
                            border-bottom: 1px solid #4D4D4D;

                            & .a-photo {
                                width: 150px;
                                height: 150px;
                                background-color: #fff;
                                border-radius: 50%;
                            }

                            & h3 {
                                font-size: 1.25rem;
                                font-weight: 600;
                            }
                        }
                    }

                    & .a-nav {
                        width: 100%;
                        height: auto;
                        margin-top: 10px;
                        display: flex;
                        justify-content: center;

                        & ul {
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            padding: 0;
                            align-items: center;
                            gap: 2.5px;

                            & li {
                                width: 100%;
                                height: auto;

                                & a {
                                    display: block;
                                    width: 100%;
                                    padding: 10px 2.5rem;
                                    height: auto;
                                    font-size: 1.15rem;
                                    color: #D4D4D4;
                                    transition: all .25s ease-out;

                                    &:hover {
                                        color: #fff;
                                        background-color: #00E68B;
                                        transition: all .25s ease-in;
                                    }

                                    & i {
                                        color: #D4D4D4;
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            & .general {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                background: linear-gradient(to bottom,
                        #4BC997 30%,
                        var(--cor-fundo-03) 40%,
                        var(--cor-fundo-03) 100%);
                background-repeat: no-repeat;

                & .fundo-offcanva {
                    width: 20%;
                    height: 100%;
                }

                & .a-infos {
                    width: 75%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    & .a-container {
                        height: auto;
                        display: flex;
                        margin: 2rem 0 2rem 0;
                        gap: 20px;

                        & .accesses {
                            width: 450px;
                            height: auto;
                            padding: 20px 0 20px 0;
                            display: flex;
                            justify-content: space-between;
                            background-color: #61DAAA;
                            border: 1px solid var(--cor-textos-01);
                            color: var(--cor-textos-01);
                            border-radius: 5px;
                            box-shadow: 0 5px 10px #0000002e;

                            & .duo {
                                width: 100%;
                                height: auto;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                margin: 20px 0 0 20px;
                                gap: 0.5rem;

                                & img {
                                    width: 2.2rem;
                                    height: auto;
                                }

                                & p {
                                    font-size: 17.5px;
                                    font-weight: 600;
                                }
                            }

                            & .number {
                                width: 100%;
                                height: auto;
                                display: flex;
                                justify-content: end;
                                align-items: end;
                                margin-right: 50px;
                                font-size: 35px;
                                font-weight: 600;
                            }
                        }
                    }

                    & .a-general-data {
                        width: 920px;
                        height: auto;

                        & .caption {
                            width: 920px;
                            height: auto;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 10px;
                            padding: 0 15px;

                            & #data {
                                font-weight: 600;
                                margin: 0;
                            }

                            & .filter {
                                height: auto;
                                display: flex;
                                align-items: center;
                                gap: 10px;

                                & p {
                                    margin: 0;
                                }

                                & i {
                                    font-size: 1rem;
                                }
                            }
                        }

                        & .info-container {
                            width: 920px;
                            height: auto;
                            display: flex;
                            gap: 20px;

                            & .u-week {
                                width: 350px;
                                height: auto;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                background-color: #FAFAFA;
                                border: 1px solid #BEBEBE;
                                border-radius: 5px;
                                box-shadow: 0 5px 10px #0000002e;
                                padding: 10px;

                                & img {
                                    width: 300px;
                                    height: auto;
                                }

                                & p {
                                    font-size: 13px;

                                    & span {
                                        width: 100%;
                                        height: auto;
                                        color: var(--cor-textos-01);
                                        background-color: #00E68B;
                                        padding: 3px;
                                        border-radius: 3.5px;
                                    }
                                }
                            }

                            & .appointments {
                                width: 550px;
                                height: auto;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                padding: 10px;
                                gap: 25px;
                                background-color: #FAFAFA;
                                border: 1px solid #BEBEBE;
                                border-radius: 5px;
                                box-shadow: 0 5px 10px #0000002e;

                                & img {
                                    width: 530px;
                                }

                                & p {
                                    font-size: 13px;

                                    & span {
                                        width: 100%;
                                        height: auto;
                                        color: var(--cor-textos-01);
                                        background-color: #00E68B;
                                        padding: 3px;
                                        border-radius: 3.5px;
                                    }
                                }
                            }
                        }
                    }

                    & .u-registered {
                        width: 920px;
                        height: auto;
                        background-color: var(--cor-fundo-03);
                        margin-top: 2rem;

                        & .graphics {
                            width: 100%;
                            height: auto;
                            display: flex;
                            justify-content: space-between;
                        }

                        & .caption {
                            width: 920px;
                            height: auto;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 10px;
                            padding: 0 15px;

                            & #data {
                                font-weight: 600;
                                margin: 0;
                            }

                            & .filter {
                                height: auto;
                                display: flex;
                                align-items: center;
                                gap: 10px;

                                & p {
                                    margin: 0;
                                }

                                & i {
                                    font-size: 1rem;
                                }
                            }
                        }

                        & .u-graphic {
                            width: 295px;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            background-color: #FAFAFA;
                            border: 1px solid #BEBEBE;
                            border-radius: 5px;
                            box-shadow: 0 5px 10px #0000002e;
                            padding: 20px;
                            gap: 10px;


                            & img {
                                width: 250px;
                            }

                            & p {
                                font-size: 13px;

                                & span {
                                    width: 100%;
                                    height: auto;
                                    color: var(--cor-textos-01);
                                    background-color: #00E68B;
                                    padding: 3px;
                                    border-radius: 3.5px;
                                }
                            }
                        }
                    }
                }
            }
        }