        body {
            width: 100%;
            height: 100%;
            background: var(--cor-fundo-03);

            & main {
                width: 100%;
                height: 100vh;
                display: flex;
                flex-direction: column;

                & .a-header {
                    width: 100%;
                    height: auto;
                    padding: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    background-color: #4BC997;

                    & .h-admin {
                        width: 170px;
                        height: auto;
                        color: var(--cor-textos-01);
                        position: absolute;
                        z-index: 1;
                        top: 10px;
                        right: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                        & .circle {
                            width: 40px;
                            height: 40px;
                            border-radius: 100%;
                            background-color: var(--cor-textos-01);
                        }

                        & p {
                            margin: 0;
                        }
                    }

                    & .logo {
                        width: 130px;
                    }
                }

                & .offcanva {
                    position: fixed;
                    width: 22%;
                    height: 90%;
                    z-index: 1;
                    bottom: 0;
                    background-color: var(--cor-textos-footer-01);
                    color: var(--cor-textos-01);
                    border-radius: 0 45px 0 0;

                    & .profile {
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        & .a-profile {
                            width: 80%;
                            height: auto;
                            padding: 1.5rem 5px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 1rem;
                            border-bottom: 1px solid #4D4D4D;

                            & .a-photo {
                                width: 150px;
                                height: 150px;
                                background-color: #fff;
                                border-radius: 50%;
                            }

                            & h3 {
                                font-size: 1.25rem;
                                font-weight: 600;
                            }
                        }
                    }

                    & .a-nav {
                        width: 100%;
                        height: auto;
                        margin-top: 10px;
                        display: flex;
                        justify-content: center;

                        & ul {
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            padding: 0;
                            align-items: center;
                            gap: 2.5px;

                            & li {
                                width: 100%;
                                height: auto;

                                & a {
                                    display: block;
                                    width: 100%;
                                    padding: 10px 2.5rem;
                                    height: auto;
                                    font-size: 1.15rem;
                                    color: #D4D4D4;
                                    transition: all .25s ease-out;

                                    &:hover {
                                        color: #fff;
                                        background-color: #00E68B;
                                        transition: all .25s ease-in;
                                    }

                                    & i {
                                        color: #D4D4D4;
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .general {
                flex-direction: column;
                align-items: end;
                justify-content: center;
                width: 100%;
                height: auto;
                display: flex;
                background: linear-gradient(to bottom,
                        #4BC997 30%,
                        var(--cor-fundo-03) 40%,
                        var(--cor-fundo-03) 100%);
                background-repeat: no-repeat;


                & .containerAnal {
                    height: auto;
                    width: 78%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & .analContent {
                        height: auto;
                        width: 85%;

                        & .analText {
                            display: flex;
                            justify-content: space-between;
                            height: auto;

                            & p {
                                font-size: 18px;
                                font-weight: 700;
                            }

                            & button{
                                background-color: #4BC997;

                                & .duo {
                                    display: flex;
                                    align-items: start;
                                    flex-direction: row;
                                    height: 30px;
                                    width: auto;
    
                                    & p {
                                        font-weight: 500;
                                    }
                                }
                            }
                        }

                    }

                    & .analGraficos {
                        display: flex;
                        flex-direction: row;
                        height: 100%;
                        width: 100%;
                        gap: 2rem;

                        & .analGraficosEsq {
                            display: flex;
                            flex-direction: column;
                            height: 530px;
                            width: 38%;
                            gap: 1rem;

                            & .graficoEsq {
                                height: auto;
                                width: 100%;
                                background-color: #fff;
                                border-radius: 10px;
                                box-shadow: 0 5px 10px #0000002e;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                & img {
                                    height: auto;
                                    width: 90%;
                                }
                            }
                        }

                        & .analGraficoDir {
                            height: 500px;
                            width: 60%;
                            background-color: #fff;
                            border-radius: 10px;
                            box-shadow: 0 5px 10px #0000002e;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;

                            & img {
                                height: 80%;
                                width: 100%;
                            }

                            & h4 {
                                font-size: 15px;
                                font-weight: 600;
                            }
                        }

                    }

                    & .analGraficoBaixo {
                        box-shadow: 0 5px 10px #0000002e;
                        height: 150px;
                        width: 100%;
                        background-color: #fff;
                        display: flex;
                        border-radius: 10px;
                        justify-content: center;
                        align-items: center;
                        gap: 5rem;
                        margin-bottom: 5rem;

                        & p {
                            height: 50%;
                            width: 15%;
                            font-size: 18px;
                            font-weight: 700;
                        }

                        & .line {
                            height: 60%;
                            width: 3px;
                            background-color: #D8D8D8;
                        }

                        & img {
                            width: 60%;
                            height: auto;
                        }
                    }
                }
            }
        }