html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
    background-color: #F3F2F2;
}

nav {
    background: #E8E8E8;
}

.bemvindo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    background: #E8E8E8;

    & .box {
        width: 65%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        & h1 {
            font-size: 2.2rem;
            font-weight: 700;
            color: var(--cor-header-titulos);
        }

        & p {
            width: 90%;
            font-size: 1.5rem;
            font-weight: 300;
            text-align: center;
        }
    }
}

.sobreCardCima {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 6rem 0;

    & .sc-content {
        width: 1450px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;

        & .line {
            width: 1px;
            height: 15rem;
            background-color: var(--cor-header-titulos);
        }

        & .cardCima {
            width: 450px;
            height: auto;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: .35rem;
            justify-content: start;

            & h2 {
                color: var(--cor-header-titulos);
                font-size: 1.5rem;
                font-weight: 700;
                width: 70%;
            }

            .textos {
                width: 80%;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: start;

                & ul {
                    width: 80%;
                    display: flex;
                    
                    flex-direction: column;
                    align-items: start;

                    & li {
                        list-style: disc;
                        font-size: 1.25rem;

                        &::marker {
                            color: var(--cor-header-titulos);
                        }
                    }
                }

                & p {
                    width: 80%;
                    font-size: 1.25rem;
                    font-weight: 200;
                    margin-left: 3rem;
                    margin-top: -1rem;
                }
            }
        }

        & p {
            width: 70%;
            font-size: 1.25rem;
        }
    }
}

.sobreCardBaixo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;

    & .sb-content {
        width: 1100px;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;

        & .line {
            width: 1px;
            height: 15rem;
            background-color: var(--cor-header-titulos);
        }

        & .cardBaixo {
            width: 400px;
            height: auto;
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: .35rem;

            &:nth-child(1) {
                align-items: start;
                
                & li {
                    width: 90%;
                    font-size: 1.25rem;
                    font-weight: 400;
                    text-align: left;
                    margin-left: -1.5rem;
                }
            }

            &:nth-child(3) {
                align-items: end;

                & p {
                    width: 60%;
                    text-align: end;
                    font-size: 1.25rem;
                    font-weight: 400;
                    margin-left: 5rem;
                }
            }

            
            & h2 {
                color: var(--cor-header-titulos);
                font-size: 1.5rem;
                font-weight: 700;
            }
        }
    }
}

.imgPag {
    width: 100%;
    height: auto;

    & img {
        width: 100%;
        height: auto;
    }
}

.lineHor {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 1rem 0;
    background: #FFFFFF;

    & .hor {
        width: 50rem;
        height: 2px;
        background-color: var(--cor-header-titulos);
    }
}

.t-sobrenos {
    background: #FFFFFF;
}

.t-sobrenos, .t-nossocompro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;

    & .box, .nbox {
        width: 65%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .title-sn, .title-nc {
            font-size: 2.5rem;
            font-weight: 600;
            color: var(--cor-header-titulos);
        }

        & .text-sn, .text-nc {
            width: 90%;
            height: auto;
            font-size: 1.25rem;
            margin-left: 2rem;
        }
    }
}

#nossaEquipe {
    width: 100%;
    height: auto;
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    & .title-ne {
        width: 65%;

        & h1 {
            font-size: 2.5rem;
            font-weight: 600;
            color: var(--cor-header-titulos);
        }
    }

    & .equipe {
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        & .fotosquipe {
            width: 450px;
            height: auto;
            border-radius: 5px;
            padding: 5px;
            gap: .75rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: default;
            background: #FFFFFF;
            border: 1px solid #E8E8E8;
            box-shadow: 0 5px 10px #0000002e;
            transition: transform .2s ease-out;

            .lineHor {
                width: 100%;
                height: auto;
                padding: 0;

                & .hor {
                    width: 17rem;
                    height: 1.5px;
                    background-color: var(--cor-header-titulos);
                }
            }

            & img {
                border-radius: 10px;
                width: 100%;
                height: auto;
            }

            & p {
                width: 90%;
                font-size: 1.2rem;
                text-align: center;
            }

            &:hover {
                transform: translateY(-5px);
                transition: transform .2s ease-in;
            }
        }
    }
}

footer {
    margin-top: auto;
}