:root {
    --cor-textos-01: #FFFFFF;
    --cor-header-titulos: #ec91a3;
    --cor-textos-02: #1F1F1F;
    --cor-textos-footer-01: #292929;
    --cor-textos-footer-01-hover: #696969;
    --cor-textos-footer-02: #c17786;
    --cor-fundo-01: #F8F8F8;
    --cor-fundo-02: #FFFFFF;
    --cor-fundo-03: #E6E6E6;
}