.required {
    color: var(--cor-header-titulos);
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 7px 20px;
    background-color: #1f1f1f;

    & a {
        width: 45px;
        height: 45px;
        position: absolute;
        z-index: 1;
        top: 27%;
        left: 2rem;

        & i {
            color: var(--cor-header-titulos);
            font-size: 1.8rem;
            transition: all .25s ease-out;
        }

        &:hover i {
            color: #FFF;
            transition: all .25s ease-in;
        }
    }

    & #logo {
        width: auto;
        height: 70px;
    }
}

#h-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    gap: 1.5rem;

    & .line {
        width: 70%;
        height: 1px;
        background-color: #585858;
    }

    & .text {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        padding-bottom: 2rem;

        & h1 {
            color: #FFF;
        }

        & p,
        span {
            color: #c0c0c0;
        }

        & span {
            font-size: 1.3rem;
        }
    }
}

#content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 0 0;

    & form {
        width: 30%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: .75rem;

        & div {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: .35rem;

            & label {
                font-weight: 500;
            }

            & input {
                width: 100%;
                background: #F4F4F4;
                border: 1px solid #1F1F1F;
                color: #202020;
                padding: .5rem .75rem;
                font-size: 1rem;
                font-weight: 400;
                text-overflow: ellipsis;
                border-radius: 3px;

                &:focus {
                    outline: none;
                }
            }

            & input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px #F4F4F4 inset;
                -webkit-text-fill-color: #1F1F1F !important;
            }
        }
    }

    & .agree {
        width: 26%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        gap: .75rem;

        & input[type="checkbox"] {
            font-size: 1rem;
            background-color: #575757;
        }

        & p,
        a {
            color: #646464;
        }

        & a {
            text-decoration: underline;
            transition: color .25s ease-out;

            &:hover {
                color: #2c2c2c;
                transition: color .25s ease-in;
            }
        }
    }

    & .btn {
        width: 30%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        & a {
            width: 100%;
            height: 2.1rem;
            background-color: var(--cor-header-titulos);
            color: var(--cor-textos-01);
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 1rem;
            transition: background-color .25s ease-out;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: #6bd3a9;
                transition: background-color .25s ease-in;
            }
        }
    }

    & .haveAccount {
        width: 30%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        gap: .75rem;

        & p {
            color: #646464;

            & a {
                color: #131313;
                font-weight: 600;
                text-decoration: underline;
                transition: color .25s ease-out;

                &:hover {
                    color: #575757;
                    transition: color .25s ease-in;
                }
            }
        }
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}

input[type=number] {
    appearance: textfield;
}