nav {
            background: #E8E8E8;
        }

        #foto-perfil {
            width: 100%;
            height: auto;
            background: #E8E8E8;
            padding: 3rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .75rem;

            & h1 {
                font-size: 1.8rem;
                font-weight: 500;
                color: var(--cor-header-titulos);
            }

            & #foto {
                width: 355px;
                height: 355px;
                border-radius: 50%;
                border: 1px solid #d3d3d3;
                box-shadow: 0 5px 10px #0000002e;
                cursor: pointer;

                &:hover {
                    filter: brightness(70%);
                }
            }
        }

        #infos-perfil {
            width: 100%;
            height: auto;
            padding: 2rem 0;

            & .ip-content {
                display: flex;
                flex-direction: column;

                & h2 {
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: var(--cor-header-titulos);
                }

                & .ip-dados {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    gap: 1.2rem 0;

                    & .info {
                        width: 45%;
                        height: auto;
                        display: flex;
                        flex-direction: column;

                        & input {
                            width: 100%;
                            background: #F0F0F0;
                            border: 1px solid #4BC997;
                            color: #646464;
                            padding: .5rem .75rem;
                            font-size: .9rem;
                            font-weight: 400;

                            &:focus {
                                outline: none;
                            }
                        }

                        &:nth-child(4) .senha-input {
                            width: 100%;
                            height: auto;
                            display: flex;

                            & button {
                                width: 30%;
                                border: 1px solid #4BC997;
                                background-color: #4BC997;
                                color: var(--cor-textos-01);
                                font-weight: 600;
                            }

                            & .input {
                                width: 70%;
                                height: auto;
                                position: relative;

                                & input {
                                    width: 100%;
                                }

                                & i {
                                    position: absolute;
                                    right: .5rem;
                                    top: 1.3rem;
                                    transform: translateY(-50%);
                                    color: var(--cor-header-titulos);
                                    text-shadow: 0 5px 10px #00000015;
                                    font-size: 1.1rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        #appointmentHistory {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3rem 0;
            gap: 1.5rem;

            & h1 {
                font-size: 1.5rem;
                font-weight: 500;
                color: var(--cor-texto-02);
            }

            & .ah-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .75rem;

                & .block {
                    width: 90%;
                    height: auto;

                    display: flex;
                    flex-direction: column;

                    padding: .5rem 2rem;
                    box-shadow: 0 5px 10px #0000002e;

                    border-bottom: .65rem solid var(--cor-header-titulos);
                    background-color: var(--cor-fundo-02);

                    & .b-header {
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: space-between;

                        & h2 {
                            font-size: 1.15rem;
                            font-weight: 500;
                            color: #2e2e2e;

                            & span {
                                font-weight: 600;
                            }
                        }
                        
                        & .status {
                            width: 18%;
                            display: flex;
                            justify-content: end;
                            gap: .35rem;
                        }
                    }

                    & .b-info {
                        width: 100%;
                        height: auto;
                        display: flex;
                        align-items: start;
                        cursor: default;
                        padding-bottom: 10px;

                        & .i-image {
                            width: 20%;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: .5rem;

                            & .line {
                                width: 100%;
                                height: .15rem;
                                background-color: var(--cor-header-titulos);
                            }

                            & #foto {
                                width: 100%;
                                height: auto;
                                border: 1px solid #d3d3d3;
                                box-shadow: 0 5px 10px #0000002e;
                            }
                        }

                        & .i-infos {
                            width: 30%;
                            height: auto;
                            padding-top: 1rem;
                            padding-left: .4rem;

                            & ul li {
                                font-size: 1.1rem;
                                list-style: disc;
                                line-height: 1.8rem;
                                color: #666666;

                                & #emphasis {
                                    font-weight: 600;
                                }

                                & #exam {
                                    width: 500px;
                                    background-color: #F4F4F4;
                                    border: 1px solid #909090;
                                    padding: 1px 5px;
                                    font-size: 1rem;
                                }

                                &::marker {
                                    color: var(--cor-header-titulos);
                                }
                            }
                        }

                        & .i-desc {
                            width: 50%;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            padding-top: 1rem;

                            & label {
                                font-size: 1.1rem;
                                color: #666666;
                            }

                            & #d-text {
                                width: 100%;
                                min-height: 9.65rem;
                                max-height: 9.65rem;
                                border: 1px solid #909090;
                                background: #F4F4F4;
                                color: #1f1f1f;
                                display: flex;
                                border-radius: 5px;
                                padding: .5rem 1rem;
                                font-size: 1rem;
                                font-weight: 400;

                                &:focus {
                                    outline: none;
                                }
                            }
                        }
                    }
                }
            }

            & #see-more {
                padding: .35rem 2.5rem;
                background-color: var(--cor-header-titulos);
                color: #FFFFFF;
                border-radius: 35px;
                box-shadow: 0 5px 10px #0000002e;
                transition: background-color .25s ease-out;

                &:hover {
                    background-color: #6bd3a9;
                    transition: background-color .25s ease-in;
                }
            }
        }